
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	text-decoration: none;
	}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
	}
ol, ul {
	list-style: none;
	}
blockquote, q {
	quotes: none;
	}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
button {
	background:#ff5428;
	min-width:80px;
	padding:10px;
}

/*- ====================== RESET COMPLETE... ...CHANGEABLE STYLES HERE ====================== */

/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
	*behavior: url(../scripts/boxsizing.htc);
	}
	
html, body{
	height: auto%;
	text-align:left;
	line-height: 1.3em;
	}
	
p, a, h1, h2, h3, h4, label, legend{
	font-family: 'Cicle_Semi',Helvetica,Arial,sans-serif;
	font-weight: 200;
	font-style: normal;
	letter-spacing:1px;
	color: #aaa;
}

p, a{
	font-size: 12px;
}

#copyright {
	margin-top:0 !important;
	padding-top:10px;
	text-align:left;
	text-transform:uppercase;
}

.menu-block {
	padding:0;
}

/* Nice Scroll */
#boxscroll2 {
    height: 550px;
    left: 0px;
    margin: 0 auto;
    overflow: auto;
    padding: 0px;
    top: 0px;
    width: 1000px;
}

/* FONT FAMILIES */
.font-seismic {
  font-family: 'Cicle_Semi',Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-style: normal;
  letter-spacing:0px;
  color: #cccccc;
}
.font-seismic2 {
  font-family: 'SofiaProLight',Arial,Helvetica;
  font-weight:normal;
  font-style:normal;
}
.boldfont {
	font-weight: bold;
}

.lgfont {
	font-size: 130%;
	line-height: 1.6em;
}

.font-seismic-strong {
	font-family: 'Cicle-Gordita', Helvetica, Arial;
	font-weight: normal;
	font-style:normal;
	color: #ff5428;
}
.font-family-cicle-gordita {
  font-family: 'Cicle_Gordita',Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-style: normal;
}

/* ==============================HEADER ============================== */

header {
	background-image: -ms-linear-gradient(left, rgba(0,0,0,.8) 0%, rgba(51,51,51,.8) 100%);
	background-image: -moz-linear-gradient(left, rgba(0,0,0,.8) 0%, rgba(51,51,51,.8) 100%);
	background-image: -o-linear-gradient(left, rgba(0,0,0,.8) 0%, rgba(51,51,51,.8) 100%);
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(0,0,0,.8)), color-stop(1, rgba(51,51,51,.8)));
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,.8) 0%, rgba(51,51,51,.8) 100%);
	background-image: linear-gradient(to right, rgba(0,0,0,.8) 0%, rgba(51,51,51,.8) 100%);
	height: 96px;
	left: 0;
	margin-bottom:34px;
	overflow: hidden;
	padding:0 40px;
	position: relative;
	top: 0; 
	width: 100%;
	z-index: 10;
}

header .container{
	position: relative;
}

header .logo{
	position:absolute;	
	width:135px;
	height:135px;
	margin-right:10px;	
	overflow:hidden;	
}

header .logo a{
	width:100%;
	height:100%;
	display:inline-block;
	background: #2ca9df  no-repeat center bottom;

	text-align: center;
		
	-webkit-box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, .1);
	box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, .1);
}
header .logo a img{
	margin-top: 24px;
}
header .logo a:hover{
	-webkit-box-shadow: inset 0px 0px 30px 15px rgba(0, 0, 0, .15);
	box-shadow: inset 0px 0px 30px 15px rgba(0, 0, 0, .15);
}
header .row {
	margin-bottom: 0;
}


.header-wrap, .nav-wrap, .footer-wrap, .content-wrap, .contact-wrapper, .work-wrapper{
	width: 100%;
	margin: 0 auto;
	overflow: auto;
}


.header-left-column{
	float: left;
}

.header-right-column{
	float: right;
	width: 300px;
	height: 96px;
}

.search-box{
	float: left;
	width: 180px;
	margin-top: 20px;
}

.contact-box{
	float: right;
	margin: 20px 0 0 5px;
	width: 90px;
	text-align: right;
}


/* =================================== SEARCH MENU =================================== */

.vc_google-search{
	position: absolute;
	z-index: -2;
	visibility: hidden;
}

.vc_menu-search-wrapper{
	/* width: 180px; */
	float: right;
	height: 25px;
	overflow: hidden;
	background: #1d1d1d;
	border-right: 1px dashed #fff;
}

.vc_menu-search{
	/* width: 180px; */
	float: right;
	height: 25px;
	width:35px;
}

.vc_menu-search-text{
	float: left;
	/* width: 155px; */
	height: 25px;
	border: none;
	background: #1d1d1d;
	color: #fff;
	padding: 2px;
	margin: 0;
	outline: none;
	font-size: 12px;
	line-height: 18px;
	width: 0;
}

.vc_menu-search-submit{
	float: left;
	width: 25px;
	height: 25px;
	cursor: pointer;
	text-align: center;
	background: url('../images/menu-search-magnifier.png') center center no-repeat;
}



/* ====================================== NAVIGATION ====================================== */
nav {
	background-image: -ms-linear-gradient(right, rgba(13,13,13,.8) 0%, rgba(85,85,85,.8) 100%);
	background-image: -moz-linear-gradient(right, rgba(13,13,13,.8) 0%, rgba(85,85,85,.8) 100%);
	background-image: -o-linear-gradient(right, rgba(13,13,13,.8) 0%, rgba(85,85,85,.8) 100%);
	background-image: -webkit-gradient(linear, right top, left top, color-stop(0, rgba(13,13,13,.8)), color-stop(1, rgba(85,85,85,.8)));
	background-image: -webkit-linear-gradient(right, rgba(13,13,13,.8) 0%, rgba(85,85,85,.8) 100%);
	background-image: linear-gradient(to left, rgba(13,13,13,.8) 0%, rgba(85,85,85,.8) 100%);
	height: 34px;
	left: 0;
	overflow: auto;
	padding: 0 20px;
	position: absolute;
	top: 96px;
	width: 100%;
	z-index: 11;	
}

.nav-wrap ul{
	float: right;
}

.nav-wrap ul li, 
.display-work-wrap ul li{
	display: inline-block;
	margin: 0;
}

.nav-wrap ul li a, 
.display-work-wrap ul li a{
	text-transform: uppercase;
	letter-spacing: .17em;
	padding: 0 15px;
	margin: 0;
	height: 34px;
	display: inline-block;
	padding-top: 7px;
	font-family: 'Cicle_Gordita',Helvetica,Arial,sans-serif;
	transition: background-color .1s ease-in;
	transition: color .2s ease-in-out;
}

.nav-wrap ul li a.current, 
.display-work-wrap ul li a.selected{
	border:none;
	color: #ff5428;
	text-decoration:none;
}

.nav-wrap ul li a:hover, 
.display-work-wrap ul li a:hover{
	background-color: #ff5428;
	color: #000;
	text-decoration:none;
}

.nav-wrap ul li a.current:hover, 
.display-work-wrap ul li a.current:hover{
	color: #ff5428;
	background-color: rgba(0,0,0,0);
}

/*MAIN BACKGROUND*/
.main-wrapper, .contact-body, .work-body{
	background-image: -ms-linear-gradient(right, #1C1C1C 0%, #5c5c5c 100%);
	background-image: -moz-linear-gradient(right, #1C1C1C 0%, #5c5c5c 100%);
	background-image: -o-linear-gradient(right, #1C1C1C 0%, #5c5c5c 100%);
	background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #1C1C1C), color-stop(1, #5c5c5c));
	background-image: -webkit-linear-gradient(right, #1C1C1C 0%, #5c5c5c 100%);
	background-image: linear-gradient(to left, #1C1C1C 0%, #5c5c5c 100%);
	overflow: auto;
}

.pageHead h2{
	font-size: 18px;
	letter-spacing: .2em;
	margin-left: 110px;
	margin-top:20px;
	opacity: .9;
	text-shadow: 1px 2px #333333;
	text-transform: uppercase;
}

.pageRule{
	border-width: thin;
	border-color: #5B5B5B;
	margin: 10px auto;
	position: relative;
}

/* ==================================== ABOUT US ==================================== */

.about-us{
	overflow: auto;
	width: 100%;
	position: absolute;
	z-index: 5;
	padding-bottom: 120px;
}

.content-wrap{
	height: 100%;
	overflow: auto;
	padding: 20px;
}

.content-wrap aside.quarter-left{
	float: left;
	margin-left:40px;
	margin-top: 40px;
	width: 25%;
}

.content-wrap aside p{
	background-color: rgba(0,0,0,.6);
	color: #aaa;
	font-size: 15px;
	line-height: 1.5rem;
}

.content-wrap aside span{
	color: #ff5428;
	font-size: 16px;
}

.seismic-team-container{
	background-color: #000;
	background-image: url('../images/seismic-team.jpg');
	background-position: center top;
	background-repeat:no-repeat;
	min-height: 100%;
	position: fixed;
	width: 100%;
	z-index: 1;
}

/* ===================================== OUR WORK ===================================== */

.display-work-wrap{
	margin: 10px 0 0 120px;
}


/* ===================================== CONTACT US =================================== */

.contact-wrapper{
	padding: 170px 0 100px;
}

.contact-wrapper h2{
	margin-left: 110px;
	font-size: 18px;
	text-shadow: 1px 2px #333333;
	letter-spacing: .2em;
	opacity: .9;
}

.contact-rule{
	display: block;
    border-style:solid;
    border-width: thin;
    border-color: #5b5b5b;
    width: 100%;
    position: absolute;
    top: 190px;
    left: 0;
}

.inner-contact{
	max-width: 700px;
	margin: 40px auto;
}

.form-container{
	width: 50%;
	float: left;
	overflow: auto;
}


.form-input{
	width: 100%;
	background-color: #ccc;
	border-radius: 0;
	padding: 2px 8px;
	border: none;
	line-height: 1.8em;
	margin-bottom: 5px;
	font-variant: small-caps; 
	font-family: 'Cicle_Gordita',sans-serif;
	color: #000;
	font-size: 12px;
	letter-spacing: .04em;
}

input[type=submit]{
	background-color: #ff5428;
	border-radius: 0;
	border: none;
	clear: both;
	padding: 5px 20px;
	display: block;
	color: #000;
	margin: 40px 0 0;
	cursor: pointer;
}

textarea{
	resize: none;
}

.inline-check{
	float: left;
	margin: 2px 10px 0 0;
}

#word-count{
	font-size: .7em;
}

#word-count span{
	color: #ff5428;
}

.send-text {
	margin-bottom:10px;
}
input[type="checkbox"] {
	margin-right:10px;
}

.map-container{
	background-color: #000;
	width: 48%;
	float: right;
	height: 304px;
	padding: 20px;
	position: relative;
}

.map-container h3{
	font-size: 18px;
	color: #ff5428;
}

#show-map{
	position: absolute;
	left: 170px;
	top: 47px;
	background-image: url(../images/map-point.png);
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
}

/* Message For Mail */

	.mail-message-area{
		width:100%;
		padding:0 15px;
	}

	.mail-message{
		width: 100%;
		-webkit-transition: all 0.7s;
		-moz-transition: all 0.7s;
		transition: all 0.7s;
		margin:0 auto;
		border-radius: 0;
	}

	.not-visible-message{
		height:0px;
		opacity: 0;
	}

	.visible-message{
		height:auto;
		opacity: 1;
		margin:25px auto 0;
	}

	.contact span { 
		display:none; 
		font-size:12px; 
		line-height:30px; 
		color:#fff;
	}

/* ==============================  RESULTS  ==================================== */

.searchintro{
	margin: 20px 0;
}

label{
	font-size: .8em;
	margin-bottom: 10px;
}

.phrases-box input, .ordering-box input, .only input{
	margin: 10px 10px 10px 0;
}

.phrases-box{
	width: 50%;
	float: left;
	margin-bottom: 20px;
}

.ordering-box{
	width: 50%;
	float: left;
}



/* ================================== FOOTER ================================== */
footer {
	position: fixed;
	bottom: 0;
	height: 40px;
	width: 100%;
	padding: 10px 0 10px 60px;
	z-index: 1001;
	background-image: -ms-linear-gradient(right, rgba(13,13,13,.8) 0%, rgba(85,85,85,.8) 100%);
	background-image: -moz-linear-gradient(right, rgba(13,13,13,.8) 0%, rgba(85,85,85,.8) 100%);
	background-image: -o-linear-gradient(right, rgba(13,13,13,.8) 0%, rgba(85,85,85,.8) 100%);
	background-image: -webkit-gradient(linear, right top, left top, color-stop(0, rgba(13,13,13,.8)), color-stop(1, rgba(85,85,85,.8)));
	background-image: -webkit-linear-gradient(right, rgba(13,13,13,.8) 0%, rgba(85,85,85,.8) 100%);
	background-image: linear-gradient(to left, rgba(13,13,13,.8) 0%, rgba(85,85,85,.8) 100%);
}	



/* =============================== VIDEO PLAYER =====================================*/
.sp-video {
	text-align: center;
	margin-bottom: 0px;
	margin-top:20px;
}
.sp-video h4 {
	margin: 10px 0;
	line-height: 1.1em;
}

#production-title h1 {
	color: #ff582a;
	font-size: 2.6em;
	letter-spacing:3px;
	margin-bottom:10px;
	text-align: left;
	text-transform: uppercase;
}

#production-title img {
	height: 65px;
}

#player {
	width: 860px;
	height: 484px;
	frameborder:0;
}

/*Video Sub Navigation*/
#video-nav {
	background-image: -ms-linear-gradient(right, rgba(24,24,24,.7) 0%, rgba(40,40,40,.7) 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(right, rgba(24,24,24,.7) 0%, rgba(40,40,40,.7) 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(right, rgba(24,24,24,.7) 0%, rgba(40,40,40,.7) 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, right top, left top, color-stop(0, rgba(24,24,24,.7)), color-stop(1, rgba(40,40,40,.7)));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(right, rgba(24,24,24,.7) 0%, rgba(40,40,40,.7) 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to left, rgba(24,24,24,.7) 0%, rgba(40,40,40,.7) 100%);
	font-family: "Cicle_Semi";
	height: auto;
	min-height:50px;
	margin-top: 5px;
	width:auto;
}

#video-nav ul {
	text-align: center;
	padding:0;
}

#video-nav li:first-child {
	margin-left:10px;
}

#video-nav  li {
	display: inline-block;
	list-style-type: none;
	padding-right: 20px;
	text-transform: uppercase;
}

#video-nav ul a:active {
	color: #acaaaa;
}

#video-nav li h4 a {
	color: #ff5d43;
	font-size: 1.2em;
}

#videobackground {
	position: fixed;
	left:0;
	top:0;
	width: 100%;
	z-index:-100;
}

.rfl_vid-smalltext {
	font-size: 10px;
}
.overlay {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.overlayImg {
	opacity: .3;
}
