
/* Tony edit 3/10/15 changed margin top from 0 to 8px */
.view {
   width: 285px;
   height: 176px;
   /*margin: 0px;*/
   margin-top: 8px;
   float: left;
   border: 0px solid #fff;
   overflow: hidden;
   position: relative;
   text-align: center;
   /*-webkit-box-shadow: 1px 1px 2px #e6e6e6;
   -moz-box-shadow: 1px 1px 2px #e6e6e6;
   box-shadow: 1px 1px 2px #e6e6e6;*/
   cursor: default;
   /*background: #fff url(../images/bgimg.jpg) no-repeat center center;*/
}
.view .mask,.view .content {
   width: 285px;
   height: 176px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: inline;
   position: relative;
   width: 285px;
   height: 176px;
}

.view h2 {
   display: none;
   font-family: Cicle_Gordita, serif;
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 20px 17px 17px 17px !important;
   background: rgba(0, 0, 0, 0.8);
   margin: 20px 0 0 0;
   bottom:-117px;
   height:25px;
   vertical-align:bottom !important;
   
}
.view p {
   font-family: Cicle_Semi, serif;
   font-style: italic;
   font-size: 12px;
   position: relative;
   color: #fff;
   padding: 10px 20px 20px;
   text-align: right;
   bottom:-33px;
   display:none;
}
.view a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   /*background: #000;*/
   color: #fff;
   text-transform: uppercase;
   /*-webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;*/
   margin-top: 40px;
}
.view a.info: hover {
   /*-webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;*/
}

.view .watch{
	position:relative !important;
	visibility:visible;
}

.view .watch img{
	width:50%;
	height:50%;
	margin-left:auto;
	margin-right:auto;
}
/* original css 
.view .preview img{
	width:50%;
	height:45%;
	opacity:.8;
}
*/
/* 3/9/13 Tony: changed above class to display correctly in Safari */
.view .preview img{
	width:80px;
	height:80px;
	opacity:.8;
}

/*LARGE IMAGE---------------------------------------------------------*/
/* Tony edit 3/10/15 original width 587 original height 357 */
/* Tony edit 3/10/15 changed margin top from 0 to 8px */
.viewLG {
   width: 585px;
   height: 356px;
   /*margin: 0px;*/
   margin-top: 8px;
   float: left;
   border: 0px;
   overflow: hidden;
   position: relative;
   text-align: center;
   cursor: default;

}
.viewLG .mask,.view .content {
   width: 100%;
   height: 100%;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.viewLG img {
   display: inline;
   position: relative;
   width:100%;
   height:100%;

}

.viewLG h2 {
   display: none;
   visibility: hidden;
   text-transform: uppercase;
   color: #fff;
   text-align: left;
   position: relative;
   font-size: 17px;
   padding: 10px 10px 10px 30px !important;
   background: rgba(0, 0, 0, 0.8);
   margin: 20px;
   height:30px;
   vertical-align:middle !important;   
   bottom: -320px;
}
.viewLG p {
   display: none;
   font-family: Cicle_Semi, serif;
   font-style: italic;
   font-size: 12px;
   position: relative;
   color: #fff;
   padding: 10px 20px 20px;
   text-align: right;
   bottom: -250px;
}
.viewLG a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   /*background: #000;*/
   color: #fff;
   text-transform: uppercase;
   margin-top: 100px;
}
.viewLG a.info: hover {
  /* -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 0px #000; */
}

.viewLG .watch{
	position:relative !important;
	top:150px;
}

.viewLG .preview img{
	width:85%;
	height:35%;
	opacity:.8;
}
